<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lombok.lombok.mapper.StudentXmlMapper">
<!-- id => interface 의 method 와 동일해야함 -->
    <select id="selectStudentAll" resultType="Student">
        select * from students;
    </select>
    <select id="selectStudent" resultType="Student" parameterType="Long">
        select * from students where id = #{id};
    </select>
</mapper>